body {
  font-family: "inter", "sans-serif";
}
header {
  z-index: 10001 !important;
}
.section-container {
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}
.subtitle {
  @apply text-rose-700 uppercase tracking-wide font-semibold text-lg;
}
.title {
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug text-black;
}
.heartStar {
  border-radius: 0px 28px 0px 28px;
}
.placeholder-white::placeholder {
  color: white;
}
.active {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #39db4a;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
